.c-slider-panel {}
.c-slider-panel-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  -webkit-filter: opacity(.6);
  z-index: 1000;
}

.c-slider-panel-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  background-color: #F8F8F8;
  transform: translateY(150%);
  transition: all 0.4s ease;
  padding-bottom: 10px;
  overflow-y: scroll;

  .header-box {
    text-align: center;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #ededed;
    .title-box div {
      font-size: $text-lg;
      color: $color-muted;
    }

    .close-box {
      width: 50px;
      position: absolute;
      right: 5px;
      top: 10px;
    }
  }
  .content-box {
    max-height: 375px;
  }
}

// 按钮组
.btn-box {
  padding-top: 10px;
  div {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    text {
      font-size: $text-xl;
    }
  }

  .btn-primary {
    border-color: $color-primary;
    text {
      color: $color-primary;
    }
  }

  .btn-back {
    border-color: $color-muted;
    text {
      color: $color-muted;
    }
  }
}

.c-slider-panel-show {
  transform: translateY(0);
}
