.c-popup {
  visibility: hidden;
}
.c-popup--show {
  visibility: visible;
}
.c-popup__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.c-popup__container {
  position: fixed;
  left: 50%;
  top: 50%;
  background: #fff;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  transition: all 0.4s ease;
  z-index: 11;
  opacity: 0;
}
.c-popup--show .c-popup__container {
  opacity: 1;
}
.c-popup--show .c-popup__mask {
  display: block;
}

/* 左侧popup */
.c-popup--left .c-popup__container {
  left: 0;
  top: auto;
  transform: translate3d(-100%, 0, 0);
}
.c-popup--show.c-popup--left .c-popup__container {
  transform: translate3d(0, 0, 0);
}

/* 右侧popup */
.c-popup--right .c-popup__container {
  right: 0;
  top: auto;
  left: auto;
  transform: translate3d(100%, 0, 0);
}
.c-popup--show.c-popup--right .c-popup__container {
  transform: translate3d(0, 0, 0);
}

/* 底部popup */
.c-popup--bottom .c-popup__container {
  top: auto;
  left: auto;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
}
.c-popup--show.c-popup--bottom .c-popup__container {
  transform: translate3d(0, 0, 0);
}

/* 顶部popup */
.c-popup--top .c-popup__container {
  top: 0;
  left: auto;
  transform: translate3d(0, -100%, 0);
}
.c-popup--show.c-popup--top .c-popup__container {
  transform: translate3d(0, 0, 0);
}
