///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

//
// Set up global Dashboard's variables.
//
// Don't change it here, instead, copy settings from this file into your custom
// settings' file to override Dashboard's default settings.
//

//
// Table of Content:
//
// 1. Color System
// 2. Typography
// 3. Backgrounds
// 4. Borders
// 5. Icon Fonts
// 6. Z-index System
// 7. Spacing
// 8. Breakpints
//

//
// 1. Color System
// ========================================================================== */

$grey-100: #f5f8fa !default;
$grey-200: #f2f4f7 !default; // #F7F9FB
$grey-300: #e6eaee !default; // eaeef1
$grey-400: #dfe3e9 !default; // dfe1e5 E3E8EF
$grey-500: #bbc5d5 !default;
$grey-600: #b7c0cd !default; // c2cad4
$grey-700: #9fa9ba !default;
$grey-800: #7f8fa4 !default; // 7f8fa4

$gunmetal-100: #475364 !default;
$gunmetal-200: #354052 !default; // main
$gunmetal-300: #2d3848 !default;
$gunmetal-400: #273142 !default;
$gunmetal-500: #1d2531 !default;

$white: #fff !default;
$black: #000 !default;

$blue-100: #86CAFF !default;
$blue-200: #53b2f9 !default;
$blue-300: #2ea1f8 !default; // main
$blue-400: #1990ea !default;
$blue-500: #1a91eb !default; // 1991eb

$green-100: #65dc52 !default;
$green-200: #1bb934 !default;
$green-300: #39b54a !default;
$green-400: #34aa44 !default; //36af47
$green-500: #249533 !default;

$purple-100: #9d8fe3 !default;
$purple-200: #a388e3 !default;
$purple-300: #886ce6 !default;
$purple-400: #8261e6 !default;
$purple-500: #7d5be2 !default;

$red-100: #f95359 !default;
$red-200: #ed1c24 !default;
$red-300: #d35847 !default;
$red-400: #ed1c24 !default;
$red-500: #db161e !default;

$orange-100: #f8c95d !default;
$orange-200: #f7bf47 !default;
$orange-300: #fd9a18 !default; //F7981C
$orange-400: #ff7800 !default;
$orange-500: #f16911 !default;

// states
//$color-mute: $grey-700 !default;
$color-mute: #8C9093 !default;
$color-success: $green-200 !default;
$color-info: $blue-300 !default;
$color-warning: $orange-300 !default;
$color-danger: $red-400 !default;
$color-fancy: $purple-400 !default;

// gradients
$gradient-blue: $blue-300, $blue-400 !default;
$gradient-green: $green-300, $green-400 !default;
$gradient-purple: $purple-300, $purple-500 !default;
$gradient-red: $red-100, $red-300 !default;
$gradient-orange: $orange-300, $orange-500 !default;

// brands
$color-facebook: #2492E4 !default;
$color-twitter: #0AF !default;
$color-pinterest: #E30F27 !default;
$color-behance: #187AC6 !default;
$color-dribbble: #ea4c89 !default;
$color-linkedin: #222 !default;

//
// 2. Typography
// ========================================================================== */

//$base-font-family: "Source Sans Pro", sans-serif !default;
$base-font-family: PingFang SC, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, \\5FAE软雅黑, STHeiti, \\534E文细黑, sans-serif !default;
$base-font-size: 16px !default;
$base-line-height: 24px !default;

// Font Weights
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;

// Paragraphs
$text-tiny-font-size: 20rpx !default;
$text-small-font-size: 24rpx !default;
$text-font-size: 28rpx !default;
$text-large-font-size: 16rpx !default;

$text-color: $gunmetal-200;
$text-strong-color: $gunmetal-200;
$text-mark-color: $white;
$text-mark-background-color: #ff0;
$text-mute-color: $color-mute;

// Headings
$h1-font-size: 72rpx !default;
$h2-font-size: 56rpx !default;
$h3-font-size: 48rpx !default;
$h4-font-size: 40rpx !default;
$h5-font-size: 36rpx !default;
$h6-font-size: 32rpx !default;

$heading-margin-bottom: 16rpx !default;
$heading-color: $gunmetal-200;
$heading-font-weight: $font-weight-semibold;

// Links
$link-color: $blue-300 !default;
$link-text-decoration: none !default;
$link-hover-color: $blue-300 !default;
$link-hover-text-decoration: underline !default;

//
// 3. Backgrounds
// ========================================================================== */
$body-background-color: #EFF3F6 !default;
$base-background-color: $white !default;

//
// 4. Borders
// ========================================================================== */
$base-border-radius: 4px !default;
$base-border-style: solid !default;
$base-border-color: $grey-300 !default;
$base-border-width: 1px !default;

//
// 5. Icon Fonts
// ========================================================================== */
$base-icon-font: "FontAwesome" !default;

//
// 6. Z-index System
// ========================================================================== */
$z-index-100: 100 !default; // over content
$z-index-200: 200 !default; // over control
$z-index-300: 300 !default; // over page
$z-index-400: 400 !default; // over screen
$z-index-500: 500 !default; // over everything

//
// 7. Spacing
// ========================================================================== */

$spacer-xsmall: 10rpx;
$spacer-small: 15rpx;
$spacer: 30rpx;
$spacer-large: 50rpx;
$spacer-xlarge: 100rpx;

//
// 8. Breakpoints
// ========================================================================== */

// Use these breakpoints with media-queries to create responsive website, these
// numbers are based on Bootstrap's grid breakpoints

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-wide: 1200px;


/* color variables */
$black: #000;
$white: #fff;
$red: #f44;
$blue: #38f;
$orange: #f60;
$green: #06bf04;
$gray: #c9c9c9;
$gray-light: #e5e5e5;
$gray-darker: #666;
$gray-dark: #999;

/* default colors */
$text-color: #333;
$border-color: #ccc;
$active-color: #e8e8e8;
$background-color: #f8f8f8;

/* button */
$button-default-color: $text-color;
$button-default-background-color: $white;
$button-default-border-color: $gray-light;
$button-primary-color: $white;
$button-primary-background-color: #4b0;
$button-primary-border-color: #0a0;
$button-danger-color: $white;
$button-danger-background-color: $red;
$button-danger-border-color: #e33;
$button-disabled-color: $gray-dark;
$button-disabled-background-color: $gray-light;
$button-disabled-border-color: $border-color;
$button-bottom-action-default-color: $white;
$button-bottom-action-default-background-color: #f85;
$button-bottom-action-primary-color: $white;
$button-bottom-action-primary-background-color: $red;
